@import "../libs/bootstrap/scss/bootstrap-reboot.scss";
@import "../libs/bootstrap/scss/bootstrap-grid.scss";
@import "../libs/bootstrap/scss/utilities/_sizing.scss";
@import "../libs/fontawesome/scss/fontawesome.scss";
@import "../libs/fontawesome/scss/fa-regular.scss";
@import "../libs/fontawesome/scss/fa-solid.scss";
@import "../libs/fontawesome/scss/fa-brands.scss";
