doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1")
		meta(property="og:image" content="path/to/image.jpg")
		meta(name="keywords" content="")
		link(rel="icon" href="img/favicon/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
		meta(name="theme-color" content="#000")
		link(rel="stylesheet" type='text/css' href="fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="css/main.min.css")

		title
			block title
	body
		.wrapper
			include layout/header
			block content
		include layout/footer
		script(src="js/jquery.js")
		script(src="js/libs.min.js")
		script(src="js/main.js")

